


<section class="home">
  <div class="content">
    <h3>fresh coffee in the morning</h3>
    <p>Whether you're a coffee connoisseur or just dipping your toe into the coffee world, it can be hard to sort through all the options available. We know everyone has different tastes—so let us take the mystery out of choosing your next bag!</p>
    <a href="#" class="btn">Get yours now</a>
  </div>
  
</section>
