


<section class="home">
  <div class="content">
    <h3>fresh coffee in the morning</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat illum earum iure saepe quasi rem.</p>
    <a href="#" class="btn">Get yours now</a>
  </div>
  
</section>
