---
import { Image } from "astro:assets"
import { menu } from "@/data/menu"
// import menuItem1 from "@/assets/menu-item-1-Copy.jpg"
---



<section class="menu" id="menu">
  <h1 class="heading"> our <span>menu</span></h1>

  <div class="box-container">
    {
      menu.map((m) => {
        return (
          <div class="box">
            <Image src={m.img} alt={m.name} format="avif" />
            <h3>{m.name}</h3>
            <div class="price">
              {m.price.toLocaleString("en-us", {
                  style: "currency",
                  currency: "USD",
                })}
            </div>
            <a href="#" class="btn">add to cart</a>

          </div>
        )
        
      })
    }

    <!-- <div class="box">
      <img src="src/assets/menu-item-2.jpg" alt="">
      <h3>tasty and healthy</h3>
      <div class="price">$15.99 <span>20.99</span></div>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <img src="src/assets/menu-item-3.jpg" alt="">
      <h3>tasty and healthy</h3>
      <div class="price">$15.99 <span>20.99</span></div>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <img src="src/assets/menu-item-4.jpg" alt="">
      <h3>tasty and healthy</h3>
      <div class="price">$15.99 <span>20.99</span></div>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <img src="src/assets/menu-item-5.jpg" alt="">
      <h3>tasty and healthy</h3>
      <div class="price">$15.99 <span>20.99</span></div>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <img src="src/assets/menu-item-6.jpg" alt="">
      <h3>tasty and healthy</h3>
      <div class="price">$15.99 <span>20.99</span></div>
      <a href="#" class="btn">add to cart</a>
    </div> -->

  </div>
</section>
