


<section class="reviews" id="reviews">

  <h1 class="heading"> our <span>reviews</span></h1>


  <div class="box-container">

    <div class="box">
      <img src="src/assets/quote.png" alt="" class="quote">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam pariatur inventore fugiat fuga voluptas consequatur, temporibus laborum assumenda recusandae voluptatibus nam! Impedit consequuntur sint nobis amet doloremque obcaecati alias sunt!</p>
      <img src="src/assets/user-1.jpg" alt="" class="user">
      <h3>walther malone</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>

    <div class="box">
      <img src="src/assets/quote.png" alt="" class="quote">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam pariatur inventore fugiat fuga voluptas consequatur, temporibus laborum assumenda recusandae voluptatibus nam! Impedit consequuntur sint nobis amet doloremque obcaecati alias sunt!</p>
      <img src="src/assets/user-2.jpg" alt="" class="user">
      <h3>walther malone</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>

    <div class="box">
      <img src="src/assets/quote.png" alt="" class="quote">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam pariatur inventore fugiat fuga voluptas consequatur, temporibus laborum assumenda recusandae voluptatibus nam! Impedit consequuntur sint nobis amet doloremque obcaecati alias sunt!</p>
      <img src="src/assets/user-3.jpg" alt="" class="user">
      <h3>walther malone</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>

  </div>
</section>
